.container{
    margin: 0px;
}
.row{
    margin-right: 10px;
}

h2{
    color: #000;
    font-weight: bolder;
}
.des{
    font-size: 130%;
}
p{
    margin-bottom: 2px;
}
.container a {
    color: #000;
    font-weight: bold;
}

.price-link{
    color: #000;
    border-style: hidden hidden dotted;
    border-width: thin;
    border-color: #3a3a3a;
}

.price{    
    font-weight: bold;
    font-size: larger;
}

button{
    background-color: #fff;
    height: 50px;
    width: 30%;
    border-color: #b9b9b9;
    font-size: 90%;
}

button i{
    font-size: 120%;
}

.icons-lg {
    float: right;
    margin: 8px 10px;
}
.fa-link{
    float: right;
    margin: 11px 10px;
}