<p>INDEMAND</p>
<h2>TurboHub: World’s Fastest SSD & 6-in-1 USB-C Hub</h2>
<p>4TB SSD + Thunderbolt 3 + USB 3.1 Gen2 + USB Gen 3.1+ HDMI 2.0 + SD UHS-II + 1000Mbps Ethernet</p>
<br>
<div class="container">
    <div class="row">
        <img src="assets/img/logo.JPG" width="45" height="45" alt="logo">
    </div>
    <div>
        <a href="#">Jorden Lee</a>
        <p>1 Campaign | Shenzhen, China</p>
    </div>
</div>
<br>
<p>
    <a href="#" placement="top" mdbTooltip="Value converted from $8,301,760 HKD raised of $100,000 HKD goal." class="price-link">
        <span class="price">₹77,641,722 </span>INR
    </a>
    by 4,782 backers
</p>
<p>₹64,683,905 INR by 3,984 backers on Feb 14, 2021</p>
   