mdb-card{
    width: 85%;
}

mdb-card-text{
    color: #000;
}

.heading{
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 2px;
}

.sub-heading{
    font-weight: bolder;
    font-size: 140%;
    margin-bottom: 0px;
}

.strike{
    font-weight: normal;
    font-size: 55%;
    color: red;
    text-decoration: line-through;
}

.sub-heading1{
    color: #b9b9b9;
}

.list-heading{
    margin-bottom: 2px;
}

.perk-btn{
    width: 100%;
    color: #D9117F;
    border-color:#b9b9b9;
    font-size: 80%;
    font-weight: bold;
}