<h6>Select a perk</h6>
<br>
<mdb-card>
    <mdb-card-img src="assets/img/poster.png" alt="Card image cap"></mdb-card-img>
    <mdb-card-body>
      <mdb-card-title>
        <p><mdb-badge color="pink">FEATURED</mdb-badge></p>
        <p class="heading">TurboHub (5TB) + Free Gift</p>
        <p class="sub-heading">$2,659 HKD&nbsp;<span class="strike">$5,886 HKD (54% OFF)</span></p>
        <p class="sub-heading1">₹13,932 INR</p>
      </mdb-card-title>
      <mdb-card-text> 
         <p>Want to upgrade your laptop? Get 1xTurboHub (2TB) for $191 (MSRP: US$399) plus free Leather Pouch. 
            2TB extra storage. 6 additional ports. Fast data transfer. 14-day satisfaction guarantee. Guaranteed 
            delivery. 1-year warranty. Save US$223 now!</p>
        <h6 class="list-heading"><b>Included Items</b></h6>
        <ul>
            <li>TurboHub 4TB</li>
            <li>Leather Pouch</li>
        </ul>
      </mdb-card-text>
      <p class="list-heading"><b>Estimated Shipping</b></p>
      <p>April 2021</p>
      <p>Only <b>3</b> left</p>
      <p>Ships worldwide.</p>
      <a mat-stroked-button href="#" class="perk-btn">GET THIS PERK</a>
    </mdb-card-body>
  </mdb-card>