<app-navbar></app-navbar>   
<div class="about-section">
    <div class="row">
      <div class="col-7">
        <app-video-player></app-video-player>
      </div>
      <div class="col-5">
        <app-about></app-about>
      </div>
    </div>
  </div>
  <hr>
  <div class="about-section">
    <div class="row">
      <div class="col-8">
        <app-subnav></app-subnav>
      </div>
      <div class="col-4">
        <h6>Select a perk</h6>
        <br>
        <app-posters></app-posters>
        <br>
        <app-posters></app-posters>
        <br>
        <app-posters></app-posters>
      </div>
    </div>
  </div>
